
div.card{
    @include cardFocus();
    margin-bottom: 2rem;
    h5.card-title{
        // font-size: 1.25rem;
        // font-weight: 900;
        text-align: center;
        &:hover{
            color: $yellow-active;
        }
    }

    p.card-text{
        color: $bg-second;
        text-align: center;
        a{
            text-decoration: none;
        }
    }

div.nav-tabs>li.nav-item{
    a.nav-link{
        color: $yellow-active;
    }

}

}

