// i{
//     &.fab{
//         color: $yellow-active;
//         font-size: 3rem;
//         text-align: center;
//         padding: 10px;
//         // background-color: $bg-dark;
//     }
//     &.fas{
//         color: $yellow-active;
//         font-size: 3rem;
//         text-align: center;
//         padding: 10px;
//         // background-color: $bg-dark;
//     }
// }


div.card{
    @include cardFocus();
    margin-bottom: 2rem;
    h5.card-title{
        // font-size: 1.25rem;
        // font-weight: 900;
        text-align: center;
        &:hover{
            color: $yellow-active;
        }
    }

    p.card-text{
        color: $bg-second;
        text-align: center;
    }


}

