header{
    margin-bottom: 6rem;
    .bg-home{
        background-image: url(../img/silver-and-black-laptop-computer-1229861.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment:fixed;
        min-height: 600px;
        width: 100%;
        }
    .bg-basic{
        background-image: url(../img/silver-and-black-laptop-computer-1229861.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment:fixed;
        min-height: 500px;
        width: 100%;
        }
    
    
}
