.media {
    ul{
        padding: 0;
        margin: 0rem;
    }
    

    i{
        &.fab{
            color: $yellow-active;
            font-size: 3rem;
            text-align: left;
            margin-right: 1rem;
            // background-color: $bg-dark;
        }
        &.fas{
            color: $yellow-active;
            font-size: 2.5rem;
            text-align: left;
            margin-right: 1rem;
            // background-color: $bg-dark;
        }
    }

    p{
        color: $text-muted;
        // margin-bottom: 0;
        margin-top: 1rem;
    }
    
    .progress-bar{
        background: $yellow-active;
    }
}
