ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 1rem 0 2rem;
    padding-left: 20px;
    p.media-title{
        margin-bottom: 1.5rem;
    }
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid $yellow-active;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.bullet {
    margin-left: 0rem;
    padding-left: 2rem;
    li {
        list-style-type: disc;
        color: $text-dark;
        margin-bottom: 1rem;
    }

}