$bg-light: #f8f9fa;
$bg-second: #6c757d;
$bg-dark: #343a40;
$blueD: rgba(63, 136, 197, 1);
$blueL: rgba(63, 136, 197,0.15);
$yellow-active: #f89d36;

$headerFont: 'Raleway', Arial, sans-serif;
$bodyFont: 'Lato', Arial, sans-serif;
