@import "./variables";
@import "./mixins";
@import "./header";
@import "./nav";
@import "./mainbody";
@import "./card";
@import "./form";
@import "./footer";
@import "./mediaList";
@import "./timeline";

h1,h2,h3,h4,h5{
    font-family: $headerFont;
}
h2{
    margin-bottom: 2rem;
}
.timeline h3{
    font-size: 1.5rem;
}
p.media-title{
    font-size: 1.25rem;
    color: $text-dark;
    margin-top: 0em;
    margin-bottom: 0.5rem;
}
p.date{
    color: $text-muted;
    margin: 0em 0em 0.5rem;
}
p.contact-text{
    font-size: 1rem;
    margin: 0;
}
*{
    font-family: $bodyFont;
}
